spring:
  config:
    activate:
      on-profile: dev
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

app:
  scraper:
    mercadolibre:
      selectors:
        # LISTING
        name: .ui-search-item__title
        price: .andes-money-amount__fraction

        # DETAIL (todos obligatorios)
        product-name: h1.ui-pdp-title
        product-current-price: .ui-pdp-price__second-line .andes-money-amount__fraction
        product-previous-price: .andes-money-amount--previous .andes-money-amount__fraction
        product-images: |
          .ui-pdp-gallery img[data-src],
          .carousel img[data-src*="mlstatic"]

logging:
  level:
    com.crawler: DEBUG
    org.jsoup: WARN
